<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set this setting to "true" to test .NET 4.5 mode. -->
    <add key="Microsoft.VisualStudio.Threading.NET45Mode" value="true" />
    <!-- Set this setting to "true" to test Windows 7 mode. -->
    <add key="Microsoft.VisualStudio.Threading.Windows7Mode" value="true"/>
    <add key="xunit.methodDisplay" value="method" />
    <add key="xunit.shadowCopy" value="false"/>
  </appSettings>

</configuration>