[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = silent

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# VSTHRD103: Call async methods when in an async method
dotnet_diagnostic.VSTHRD103.severity = silent

# VSTHRD111: Use .ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = none

# VSTHRD200: Use Async suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = suggestion

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = silent

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = suggestion

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1064: Exceptions should be public
dotnet_diagnostic.CA1064.severity = none

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = silent

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = suggestion

# Default severity for analyzer diagnostics with category 'Reliability'
dotnet_analyzer_diagnostic.category-Reliability.severity = suggestion

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = suggestion

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = suggestion

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = suggestion

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none
