<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="\\cpvsbuild\drops\vsideproj\Packages" />
    <add key="repositorypath" value="packages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear/>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.org/F/aarnott" value="https://www.myget.org/F/aarnott/api/v3/index.json" />
    <add key="VSIDEProj (cpvsbuild)" value="\\cpvsbuild\drops\vsideproj\Packages\v3" />
    <add key="VSPackages" value="\\cpvsbuild\drops\dd\NuGet" />
  </packageSources>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
</configuration>
