<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://mseng.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDEProj-CI/nuget/v3/index.json" />
    <add key="repositorypath" value="packages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear/>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.org/F/aarnott" value="https://www.myget.org/F/aarnott/api/v3/index.json" />
    <add key="VSIDEProj-CI" value="https://mseng.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDEProj-CI/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
</configuration>
