<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="\\cpvsbuild\drops\vsideproj\Packages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear/>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="VSIDEProj (cpvsbuild)" value="\\cpvsbuild\drops\vsideproj\Packages" />
    <add key="VSPackages" value="\\airstore\dd\nuget" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
</configuration>
