<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.CommandLine" version="2.8.3" />
  <package id="VS.Tools.Derazzle" version="1.0.150321.3" />
  <package id="VS.Tools.DevDivFiles" version="1.0.150305.3" />
  <package id="VS.Tools.X86.Managed.V4_5" version="1.0.150317.3" />
  <package id="VS.Tools.X86Files" version="1.0.150316.1" />
  <package id="VS.ToolsFiles" version="1.0.150317.2" />
</packages>