<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set this setting to "true" to test Windows 7 mode. -->
    <add key="Microsoft.VisualStudio.Threading.Windows7Mode" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>