<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.93-rc-ge3c4ee6f88" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.Core" version="0.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.93-rc-ge3c4ee6f88" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.11-pre" targetFramework="net45" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta014" targetFramework="net45" developmentDependency="true" />
</packages>