<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="2.0.54" targetFramework="native" developmentDependency="true" />
  <package id="MicroBuild.Core" version="0.3.0" targetFramework="native" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="2.0.54" targetFramework="native" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="2.1.23" targetFramework="native" developmentDependency="true" />
</packages>