<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set this setting to "true" to test .NET 4.5 mode. -->
    <add key="Microsoft.VisualStudio.Threading.NET45Mode" value="false" />
    <!-- Set this setting to "true" to test Windows 7 mode. -->
    <add key="Microsoft.VisualStudio.Threading.Windows7Mode" value="false"/>
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>