<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.83-rc-g72bc07812b" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.NonShipping" version="1.0.83-rc-g72bc07812b" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.83-rc-g72bc07812b" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net45" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta014" targetFramework="net45" developmentDependency="true" />
</packages>