<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.70-rc-gaf0d7eb797" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.NonShipping" version="1.0.70-rc-gaf0d7eb797" targetFramework="net45" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.70-rc-gaf0d7eb797" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.51103" targetFramework="net45" />
  <package id="Nerdbank.GitVersioning" version="1.0.15136-beta" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-g4e621dfd0d" targetFramework="net45" developmentDependency="true" />
</packages>