<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.83-rc-g72bc07812b" targetFramework="portable46-net451+win81+wpa81" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.83-rc-g72bc07812b" targetFramework="portable46-net451+win81+wpa81" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.0-pre-ge6c766ea3c" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="portable46-net451+win81+wpa81" developmentDependency="true" />
  <package id="NuSpec.ReferenceGenerator" version="1.3.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta014" targetFramework="portable46-net451+win81+wpa81" developmentDependency="true" />
</packages>