[*.cs]

indent_style = space

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1205: Partial elements should declare access
dotnet_diagnostic.SA1205.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none

# SA1402: File may only contains a single type
dotnet_diagnostic.SA1402.severity = none

# SA1403: File may only contain a single namespace
dotnet_diagnostic.SA1403.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent
