<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MS.VS.Threading rules" Description="This ruleset contains all the rules that MS.VS.Threading is expected to pass." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>