<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MS.VS.Threading rules" Description="This ruleset contains all the rules that MS.VS.Threading is expected to pass." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1600" Action="Hidden" />
    <Rule Id="SA1601" Action="Hidden" />
    <Rule Id="SA1602" Action="Hidden" />
    <Rule Id="SA1609" Action="Hidden" />
    <Rule Id="SA1611" Action="Hidden" />
    <Rule Id="SA1615" Action="Hidden" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1205" Action="Hidden" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1008" Action="Hidden" />
    <Rule Id="SA1211" Action="Hidden" />
  </Rules>
</RuleSet>