<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50617-pre" targetFramework="net45" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-gafdc12e670" targetFramework="net45" developmentDependency="true" userInstalled="true" />
</packages>