<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.95-rc-g580435822e" developmentDependency="true" />
  <package id="MicroBuild.Core" version="0.2.0" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.95-rc-g580435822e" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="1.1.61-rc" developmentDependency="true" />
  <package id="WiX" version="3.10.1" />
</packages>