<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2-20150418-01" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2-20150418-01" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2-20150418-01" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-rc2-20150418-01" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc2-20150418-01" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net452" developmentDependency="true" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-gafdc12e670" targetFramework="net452" developmentDependency="true" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="net45" developmentDependency="true" userInstalled="true" />
  <package id="System.Reflection.Metadata" version="1.0.19-rc" targetFramework="net45" developmentDependency="true" userInstalled="true" />
</packages>