<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.70-rc-gaf0d7eb797" targetFramework="net451" developmentDependency="true" />
  <package id="MicroBuild.NonShipping" version="1.0.70-rc-gaf0d7eb797" targetFramework="net451" developmentDependency="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.70-rc-gaf0d7eb797" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.0-pre-ge6c766ea3c" targetFramework="portable46-net451+win81+wpa81" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="net451" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta014" targetFramework="net451" developmentDependency="true" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net451" />
</packages>